/* Fonts Family: Merriweather & Inter */
body {
    font-family: 'Inter', sans-serif;
}
/* Banner image */
.banner {
    border: none;
    border-radius: 16px;
    display: flex;
    margin: 50px ;
    flex-shrink: 0px;

}
/* Banner text */
.banner-text-1 {
    color: #FFF;
    position: absolute;
    font-style: normal;
    
    font-size: 32px;
    font-weight: 400;
    
    margin: auto;
}

.banner-text-2 {
    color: #FFF;
    position: absolute;
    font-size: 72px;
    font-weight: 900;
    
}