/* Fonts Family: Merriweather & Inter */
body {
    font-family: 'Inter', sans-serif;
}

/* Header of body */
/* Banner image */
.banner {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 16px;
    margin: 50px 50px 0px;
}

/* Banner text */

.banner-text {
    list-style: none;
    align-items: center;
    color: #fff;
    justify-content: center;
}

#banner-text-1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 259px;
    height: 40px;
    padding-left: 32px;
    padding-right: 40px;
    margin-bottom: 16px;
}

#banner-text-2 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
    width: 632px;
    padding-left: 72px;
    padding-right: 95px;
}

/* Main part of body */




/* footer of body */
.footer {
    background-color: #070211;
    align-items: center;
    width: 1600px;
    height: 609px;
    flex-shrink: 0;
}

.footer .one {
    color: #FFF;
    list-style: none;
    justify-content: space-between;
}

.footer .two {
    align-items: center;
    padding: 24px;

}

.three {
    color: #FFF;
}